Host gitlab
   User git
   HostName gitlab.com
   Preferredauthentications publickey
   IdentityFile ~/.ssh/id_rsa_git

Host gitlab.com
   User git
   HostName gitlab.com
   Preferredauthentications publickey
   IdentityFile ~/.ssh/id_rsa_git

Host okamoto
   User git
   HostName gitlab.com
   Preferredauthentications publickey
   IdentityFile ~/.ssh/id_rsa_git

Host github
   User git
   HostName github.com
   Preferredauthentications publickey
   IdentityFile ~/.ssh/id_rsa_git

Host github.com
   User git
   HostName github.com
   Preferredauthentications publickey
   IdentityFile ~/.ssh/id_rsa_git

Host gist
   User git
   HostName gist.github.com
   Preferredauthentications publickey
   IdentityFile ~/.ssh/id_rsa_git

Host gist.github.com
   User git
   HostName gist.github.com
   Preferredauthentications publickey
   IdentityFile ~/.ssh/id_rsa_git

Host okanon
   User git
   HostName github.com
   Preferredauthentications publickey
   IdentityFile ~/.ssh/id_rsa_git
